@media (max-width: 768px) {

    .formulario {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        margin: 10px 0;

    }

    .formulario form {
        max-width: 80%;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 36px 64px;
    }

    .formulario button {
        background-color: #df8e03;
        border-radius: 20px;
        font-size: 20px;
        padding: 10px 20px;
        float: right;
    }
}

@media (min-width: 769px) and (max-width: 991px){
    .formulario {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: right;
        margin: 10px 0;

    }

    .formulario form {
        max-width: 50%;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 36px 64px;
    }

    .formulario button {
        background-color: #df8e03;
        border-radius: 20px;
        font-size: 20px;
        padding: 10px 20px;
        float: right;
    }
}

@media (min-width: 992px) {

    .formulario {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: right;
        margin: 10px 0;

    }

    .formulario form {
        max-width: 70%;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 9% 18%;
    }

    .formulario button {
        background-color: #df8e03;
        border-radius: 20px;
        font-size: 20px;
        padding: 10px 20px;
        float: right;
    }
}