.css-1tbggly {
  height: 40px !important;
}
.css-lapokc {
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
}
.css-bbxzxe {
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
}
.css-10gei56 {
  height: 45px;
}
