.css-1tbggly {
  height: 40px !important;
}
.css-lapokc {
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
}
.css-bbxzxe {
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
}
.css-10gei56 {
  height: 45px;
}
.css-1tbggly {
  height: 60px !important;
}
.AddNewVeic {
  background-color: #1976d2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  svg {
    margin-right: 5px;
  }
}
